*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body {
  background-color: #fffcf5;
  color: #261a35;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.main-nav {
    padding-top: 12px;
    padding-bottom: 16px;
    position: sticky;
    top: 0;
    background: #af74b4;
    z-index: 1000;
}

.main-nav ul {
    display: block;
    list-style: none;
    gap: 35px;
    padding: 0;
    margin: 0;
}

.main-nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav li {
    position: relative;
}

nav a{
    display: inline-block;
    padding: 2px 5px;
    border-radius: 6px;
    border: 0px solid #a091bb;
    color: rgb(254, 239, 255);
    text-decoration: none;
    font-weight: 500;
    transition: transform .12s ease, background .12s ease;
}

nav a:hover{
    color: #fff3f3;
    text-decoration: none;
    transform: translateY(-3px);
    outline: none;
}


#inicio {
    background-image: url("https://i.pinimg.com/1200x/eb/e4/6b/ebe46b498918b95babb98738370ccc55.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    text-align: center;
}


#inicio .hero {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


.hero_image-wrap {
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_image-wrap img {
    margin-top: -66px;
    max-width: 280px;
    width: 100%;
}


.hero_content {
    line-height: 1.4rem;
    text-align: center;
}

.hero_content h2 {
    font-size: 22px;
    color: #3b2347;
    font-weight: 600;
}

.hero_content h1 {
    margin-top: 15px;
    font-family: 'Sirivennela', fantasy;
    font-weight: 900;
    font-size: 56px;
    color: #7f3c88;
}

@font-face {
    font-family: 'Sirivennela';
    src: url('Sirivennela-Regular.ttf') format('truetype');
}

.hero_tagline {
    margin-top: -28px;
    font-size: 17px;
    font-weight: 500;
}


.hero_cta {
    margin-top: -2px;
    display: inline-block;
    background: #caa1d6;
    color: #44305c;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 0 4px 10px rgba(63, 48, 90, 0.226);
}

.hero_cta:hover {
    background: #a790ca;
    color: #291d38;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(76, 59, 107, 0.322);
}


a{
    color: #7c479b;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

a:hover{
    color: #a091bb;
}

#sobremi, 
#intereses,
#agenda, 
#contacto {
    padding: 30px 30px;
    margin-bottom: 30px;
    line-height: 1.4rem;
}


#sobremi {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f1eaff;
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.infosobremi{
    flex: 2;
}

.imgsobremi{
    flex: 1;
}

.infosobremi{
    margin-top: 20px;
}

.imgsobremi img{
    max-width: 220px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #a988b6;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
}


.infosobremi h2,
.infosobremi h3,
.infosobremi p {
    padding: 0px 150px;
    text-align: justify;
}

.infosobremi h3 {
    font-size: 28px;
    color: #512b68;
}

.redes {
    margin-left: -100px;
    padding-right: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}

.redes a {
    gap: 15px;
}


/* Listas */
#intereses {
    margin-top: 50px;
    padding: 20px 150px;

}

.listaul {
    padding-left: 112px;
    padding-top: 65px;
    padding-bottom: 0px;
}

.listaulimg-wrap{
    margin-left: 300px;
    margin-top: -330px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.listaulimg-wrap img{
    max-width: 570px;
    width: 100%;
    margin: 0;
}

.listaul h2 {
    font-size: 30px;
    padding-left: 70px;
    margin-bottom: 50px;
}

.listaul span {
    font-family: 'Sirivennela', fantasy;
    font-size: 50px;
    font-weight: 700;
    color: #53305c;
}


.listaul ul {
    max-width: 400px;
    margin: 0;
    padding-left: 130px;
    text-align: left;
}

.listaul ul li{
    margin: 6px 0;
    padding: 0;
}

.listaol{
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.titleol {
    flex: 1;
    text-align: right;
}

.liol {
    flex: 1;
    text-align: left;
}


.listaol h1 {
    color: #291830;
    text-decoration: underline rgba(187, 146, 192, 0.808);
    margin-bottom: 15px;
}


.listaol ol li{
    margin-top: 10px;
    margin: 6px 0;
    padding: 0;
}


#agenda{
    justify-content: center;
    padding: 20px 100px;
}

.tabla{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 55px;
}

.calendar {
    border-collapse: separate;
    border-spacing: 6px;

}


.tabla th{
    border-radius: 6px;
    background-color: rgba(150, 95, 168, 0.452);
    padding: 5px 15px;
    font-size: 1.1em;
    color: rgb(64, 25, 65);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(31, 10, 34, 0.11);
}

.tabla td{
    border-radius: 6px;
    margin-top: 10px;
    background-color: rgb(234, 210, 235);
    padding: 15px 15px;
    color: rgb(33, 19, 39);
    line-height: 1.5em;
    box-shadow: 0 4px 8px rgba(14, 10, 34, 0.11);
}

.tabla tbody {
    text-align: center;
}


/* Formulario de Contacto */
#contacto{
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.form-contacto {
    background: #eadcecde;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d9ccee;
    box-shadow: 0 8px 18px rgba(81, 57, 95, 0.116);
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-contacto label {
    font-weight: 600;
    margin-top: 5px;
    color: #342749;
}

.form-contacto input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #bca9d8;
    border-radius: 8px;
    background: #fdeeff;
    outline: none;
    transition: border-color .2s ease, box-shadow .2s ease;
    font-size: 15px;
}

.form-contacto input:focus {
    border-color: #6c5596;
    box-shadow: 0 0 8px rgba(123, 91, 182, 0.3);
}

.form-contacto button {
    margin-top: 13px;
    width: 100%;
    background: #9a47a1dc;
    color: #eed3f1;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: .2s ease;
    box-shadow: 0 8px 5px rgba(70, 57, 95, 0.116);

}

.form-contacto button:hover {
    background-color: #803d86dc;
    color: hsl(0, 0%, 100%);
    transform: translateY(-2px);
}

.contacto-container {
    margin-bottom: 15px;
}

.contacto-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    color: #3c2e53;
    margin-bottom: 35px;
}

.contacto-container p{
    margin-top: -10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Footer */
footer {
    padding-top: 20px;
    padding-bottom: 30px;
    top: 0;
    background: #98669c;
    z-index: 1000;
}

footer p {
    font-weight: 500;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;

}


.footer-redes {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-redes a {
    display: inline-block;
}

footer a{
    list-style: none;
    border-radius: 6px;
    border: 0px solid #a091bb;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    transition: transform .12s ease, background .12s ease;
}

footer a:hover{
    color: #ebb7ff;
    text-decoration: none;
    outline: none;
    transform: translateY(-1px);
}


/* Scroll Section */
#inicio {
    scroll-margin-top: 120px;
}

#sobremi, #agenda {
    scroll-margin-top: 50px;
}

#contacto {
    scroll-margin-top: 60px;
}

#intereses {
    scroll-margin-top: 10px;
}


#programas {
    scroll-margin-top: 160px;
}




